@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");


* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
}

main{
  padding: 36px;
}

.header {
  background: linear-gradient(90deg, #222280 1.18%, #2646d3 100%);
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  font-size: 1.25rem;
  color: white;
}


.header-image{
  height: 100%;
  margin-right: 10px;
  margin-left: auto;
}

.header-text{
  margin-right: auto;
  font-weight: 700;
}

.form{
  display: grid;
  grid-template: 50% 50% / 1fr 1fr;
  gap: 17px;
}

.form-input-container{
  margin-bottom: 50px;
}

.form-input{
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.form-button{
  grid-column: span 2;
  margin: 0px auto;
  padding: 0px 155px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  background: linear-gradient(90deg, #222280 1.18%, #2646d3 100%);
  color: white;
  border: none;
}

.form-button:hover{
  filter: brightness(110%);
}