/*@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* base styles */

* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/* Header */

.header {
  background: linear-gradient(90deg, #222280 1.18%, #2646d3 100%);
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  font-size: 1.25rem;
  color: white;
}


.header-image{
  height: 100%;
  margin-right: 10px;
  margin-left: auto;
}

.header-text{
  margin-right: auto;
  font-weight: 700;
}